<div class="row text-center">
    <div class="col-xs-12 col-md-9 col-md-offset-1 pf-landing-pricing-panel">
        <div class="panel panel-default pricing-big">
            <div class="panel-heading txt-color txt-color-green">
                <h3 class="panel-title">New release {{version}}</h3>
            </div>
            <div class="panel-body no-padding text-align-center">

                <div class="price-features text-left" style="min-height: inherit;">
                    <div class="row">
                        <div class="col-sm-12">
                            <ul class="list-unstyled text-left">
                                <li><i class="fas fa-fw fa-angle-right"></i>
                                    EOL phases (aging / expiring / zombie) with distinct colours and per-phase route filtering
                                </li>
                                <li><i class="fas fa-fw fa-angle-right"></i>
                                    Unknown system placeholder nodes ("???") for unscanned destinations
                                </li>
                                <li><i class="fas fa-fw fa-angle-right"></i>
                                    Auto-default connection mass class from system class &amp; wormhole type
                                </li>
                                <li><i class="fas fa-fw fa-angle-right"></i>
                                    Granular K162 signature options &amp; Drifter (C14-C18) wormhole types
                                </li>
                                <li><i class="fas fa-fw fa-angle-right"></i>
                                    Turnur connections in route search (alongside Thera)
                                </li>
                                <li><i class="fas fa-fw fa-angle-right"></i>
                                    Native Discord embeds for map &amp; rally webhooks
                                </li>
                                <li><i class="fas fa-fw fa-angle-right"></i>
                                    Extended theme coverage - map canvas, system nodes &amp; tables
                                </li>
                                <li><i class="fas fa-fw fa-angle-right"></i>
                                    Alliance maps now visible in the admin panel
                                </li>
                                <li><i class="fas fa-fw fa-angle-right"></i>
                                    Killstream migrated to R2Z2 polling (zKill WebSocket retired)
                                </li>
                                <li><i class="fas fa-fw fa-angle-right"></i>
                                    Stack modernised: PHP 8.3, MariaDB 10.11, Valkey 8
                                </li>
                                <li><i class="fas fa-fw fa-angle-right"></i>
                                    Full security audit - token-at-rest encryption, PKCE SSO, CVE patches, hardened sessions/cookies/CSRF/WS
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
