<div class="row text-center">
    <div class="col-xs-12 col-md-9 col-md-offset-1 pf-landing-pricing-panel">
        <div class="panel panel-default pricing-big">
            <div class="panel-heading txt-color txt-color-green">
                <h3 class="panel-title">New release {{version}}</h3>
            </div>
            <div class="panel-body no-padding text-align-center">

                <div class="price-features text-left" style="min-height: inherit;">
                    <div class="row">
                        <div class="col-sm-6">
                            <ul class="list-unstyled text-left">
                                <li><i class="fas fa-fw fa-angle-right"></i>
                                    Security release: fixes several vulnerabilities, including one that needed no login. All installs should upgrade.
                                </li>
                                <li><i class="fas fa-fw fa-angle-right"></i>
                                    System and signature descriptions are now cleaned before display. Bold, lists and links still work; scripts are removed.
                                </li>
                                <li><i class="fas fa-fw fa-angle-right"></i>
                                    This is the last planned 2.x release. Pathfinder 3.0 (PHP 8) is in beta.
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>